{% extends '_layouts/cp.twig' %}
{% set title = 'Contacts'|t('app') %}

{% set crumbs = [
  {
    label: 'They Work For You'|t('_they-work-for-you'),
    url: url('_they-work-for-you'),
  },
  {
    label: 'Contacts'|t('_they-work-for-you'),
    url: url('they-work-for-you/contacts'),
  },
] %}

{% block actionButton %}
    {{ tag('a', {
        class: 'btn submit add icon',
        href: url('they-work-for-you/contacts/import'),
        text: 'Import Contacts'|t('_they-work-for-you'),
    }) }}
{% endblock %}

{% block content %}
    <table id="contacts" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Forename"|t('_they-work-for-you') }}</th>
            <th scope="col">{{ "Surname"|t('_they-work-for-you') }}</th>
            <th scope="col">{{ "Party"|t('_they-work-for-you') }}</th>
            <th scope="col">{{ "Constituency"|t('_they-work-for-you') }}</th>
            <th scope="col">{{ "Email"|t('_they-work-for-you') }}</th>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.forename }}</td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.party }}</td>
                    <td>{{ contact.constituency }}</td>
                    <td>{{ contact.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}
